@page "/counter"
@inherits HelloWorldBlazor.CounterBase

<h1>Counter Y'all!!!</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>
@* @((Item item) => { OnSelect(item); }) *@